<h4>
症状検索結果画面<br>
あなたの症状から最も最適な病院を検索しました。
</h4>
  <table class="table">
    <tbody>
      <th>
        <% @hospitals.each do |hospitals| %>
          <% if hospitals.is_active == true %>
            <div class="col-md-4 shadow p-6 mb-3">
                診療科目：<%= hospitals.subject %><br>
                住所：<%= hospitals.address %><br>
              <%#= link_to "この病院の詳細を確認する", public_hospital_path do %>
                <%= image_tag hospitals.image, size:"100x100"  %>
                <%= hospitals.name %>
              <% end %>
            </div>
          <% end %>
        <%# end %>
      </th>
    </tbody>
  </table>