<h4>
症状検索結果画面<br>
あなたの症状から最も最適な病院を検索しました。
</h4>
  <table class="table">
    <tbody>
      <tr></tr>
      <th>

         <td><%= link_to "この病院の詳細を確認する", public_hospital_path %></td>
      </th>
    </tbody>
  </table>