<div class="container">
  <div class="row">
    <div class="col-2">
    <div class="col-10">
      <h2 style="margin: 20px 0;">フォロー一覧(全<%= @count %>人)</h2>
      <div class="text-center row">
        <%# @follows.each do |follow| %>
          <%#= link_to public_follows_path(follow), hospital_doctor.hospital_id %>
          <%#= hospital_doctor.name %>
        <%# end %>
      </div>
    </div>
  </div>
 </div>
</div>