<h4><%= @doctor.name %> 様</h4>
  <p>
    いつもお世話になっております。<br>
    Cest-facile運営事務局でございます。<br>
    この度は、医療提供者フォームよりご申請をいただき誠にありがとうございました。<br>
    ご申請をいただきました結果を下記にご連絡いたします。<br>
    申請結果についての詳細内容についてはご回答出来かねますので、ご了承のほど宜しくお願い致します。
  </p>
  <p><%= @answer %></p>
  <p>今後ともCest-facileをよろしくお願いいたします。</p>