
<div class="text-center">
<div>私たちは誰にでも医療を「手軽に、簡単に」をキーワードに</div>
<div>病気について少し調べたいとき、</div>
<div>ドクターに直接相談をしたいとき、</div>
<div>近くの病院のレビューを見て予約をしたいときなど、</div>
<div>皆様の好きな「とき」に合わせてご使用ください。</div>
</div>

<div style="text-align: center"><%= image_tag 'img01.jpg'%></div>