<div class="container">
  <div class="row">
    <div class="col-11">
      <h2>ログイン後の管理者トップページ</h2>

    <div class="row-lg-10">
      <table class="table">
        <thead>
          <tr>
            <th>予約日時</th>
            <th>予約者</th>
            <th>予約院</th>
            <!--<th>注文ステータス</th>-->
          </tr>
        </thead>
      </table>
    </div>
  </div>
 </div>
</div>