
<h4>予約が完了しました！<br>
当日は健康保険証などお忘れのないようにお気をつけください。<br>
キャンセルの場合は000-0000-0000 まで直接お電話をお願いします。<br>
</h4>

<%= link_to 'ちょこっと医療豆知識を見る', root_path, class: "btn btn-success" %>
<%= link_to 'トップページへ戻る', root_path, class: "btn btn-success" %>
<%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link" %>