<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="mt-3 text-center">予約が完了しました！</div>
      <div class="mt-3 text-center">当日は健康保険証など、<br>お忘れのないようにお気をつけください。</div>
      <div class="mt-3 text-center">キャンセルの場合は、<br><%= @reservation.hospital.name %><%= @reservation.hospital.telephone_number %>まで、<br>直接お電話をお願いします。</div>
      
      <div class="mt-4 d-grid col-md-2 mx-auto">
        <%= link_to 'トップページへ戻る', root_path, class: "btn btn-success" %>
      </div>
      <div class="mt-4 d-grid col-md-2 mx-auto">
        <%= link_to '予約一覧', public_reservations_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>