<h2>予約履歴詳細画面</h2>
<%= @public_customers.last_name + @public_customers.first_name %>さんの会員詳細
  <div class="row">
    <div class="col-6 offset-md-1">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>予約日</td>
            <td><%= image_tag @reservations.hope_day, class:"img-thumbnail" %></td>
            </tr>
          <tr>
            <td>予約時間</td>
            <td><%= image_tag @reservations.hope_time, class:"img-thumbnail" %></td>
            </tr>
          <tr>
            <td>予約院</td>
            <td><%= @hospitals.name %></td>
          </tr>
          <tr>
            <td>予約ステータス</td>
            <td><% if @reservations.status == true %></td>
                予約完了
              　<% elsif %>
                仮予約中
                <% else %>
                キャンセル済
              <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>