<h2>予約履歴詳細画面</h2>
<%= @public_customers.last_name + @public_customers.first_name %>さんの予約詳細
 <div class="row-lg-10">
  <table class="table">
   <thead>
    <tr class="table-secondary">
     <th>予約日</th>
     <th>来院予約時間</th>
     <th>予約院</th>
     <th>予約ステータス</th>
    </tr>
   </thead>
   <tbody>
     <th><%= @reservations.hope_day %></th>
     <th><%= @reservations.hope_time %></th>
     <th><%= @hospitals.name %></th>
             <td><% if @reservations.status == 'reservation_confirmed' %>
                <p class="text-success font-weight-bold">予約確定</p>
                <% elsif @reservations.status == 'tentative_reservation' %>
                <p class="text-secondary font-weight-bold">仮予約中</p>
                <% else %>
                <p class="text-secondary font-weight-bold">受付キャンセル</p>
                <% end %>
            </td>
        </tbody>
      </table>
    </div>
  </div>