<div class="container">

  <div class="row-lg-10">
  <table class="table">
    <thead>
      <tr class="table-secondary">
         <th>医療者ID</th>
         <th>フォロー中の医療者</th>
         <th>フォロー機能</th>
         <th>医療者詳細ページ</th>
      </tr>
    </thead>
    <tbody>
      <h4><%= @customer.full_name %>さんのフォロー一覧(全<%= @doctors.count %>人)</h4>
            <%= render partial: 'public/follows/follow', locals: {doctors: @doctors} %>
        </tr>
      </div>
    </tbody>
  </table>
