<div class="container">
  <div class="row">
    <div class="mt-2 col-md-8 offset-2">
    <table class="table">
      <thead>
        <tr class="table-secondary mt-2 text-nowrap">
          <th>医療者ID</th>
          <th>フォロー中の医療者</th>
          <th>フォロー機能</th>
          <th>下記リンクへ移動</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'public/follows/follow', locals: {doctors: @doctors} %>
      </div>
  </table>
</div>
</div>