<h2>フォロー一覧画面</h2>
<div class="container">
  <div class="row">
    <div class="col-10">
      <!--一覧部分-->
      <h2 style="margin: 20px 0;">フォロー一覧(全<%= @follows.count %>人)</h2>
      <div class="text-center row">
        <% @doctor.each do |doctor| %>
              <%= link_to doctor_follows_path(doctor) do %>
              <% end %>
            </div>
      </div>
    </div>
  </div>