/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap";
 
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 130px; /* 高さ120px */
  background-color: #6b8e23; 
}

.main {
  width: 100%; /* 横幅いっぱい */
  height: 2500px; /* 高さ1400px（多めに設定） */
  background-color: #fdf5e6;
}

.footer {
  background-color: #6b8e23; 
}

.font-color {
  color: white;
}

.font-color2 {
color: black;
}

/*フッタを常に下に表示したい*/
.body {
display: flex;
flex-flow: column;
min-height: 100vh;
}

.main {
flex: 1;
}

//ホームへ戻るの実装
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 35px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.background {
  background-image: image-url('haikei20.jpg');
  height: 450px;
  width: 100%;
}

h4 {
  padding: 15px;
}

//aboutページのCSS
.about-content {
  position: relative;
  height: 200px;
}

.about-content p {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.pagination {
justify-content: center;
}

// レビュー平均点表示(.star-rating-bacまで)

.average-score {
  display: flex;
  justify-content: center;
}

.average-score {
  display: flex;
  justify-content: center;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 17px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
  height: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
  height: 25px;
}

.star-rating-back {
  color: #ccc;
}