<% if current_doctor.approved? %>
  <h4>フォロワー一覧</h4>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h4 style="margin: 20px 0;">フォロワー一覧(全<%= @followers.count %>人)</h4>
            <div class="text-center row">
              <% @followers.each do |follow| %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
<% else %>
  申請の承認をお待ちください。
<% end %>