
<footer>
  <div class="container-fluid", style="padding-bottom: 50px;">
  <div class="fixed-bottom">
    <div class="text-center p-3 footer">
      Hamaoka © 2023 Cest facile Co., Ltd.
    </div>
  </div>
  </div>
</footer>

